*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  user-select: none;
}
.App{
  background: linear-gradient(to top left, #3366ff 0%, #cc33ff 89%);
  height: 100vh;
}
  